<div class = "container col-6 text-center">
<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<div>
<%= link_to 'Back to list', tasks_path %>
</div>
<div>
<%= link_to 'Edit this task', edit_task_path %>
</div>
</div>